body{
    font-family: 'Open-Sans', sans-serif;
}

.navbar-default {
    background-color: #ffffff !important;
    border-color: #e7e7e7 !important;
    border: 0 !important;
    min-height: 130px !important;
    padding:  20px 0 10px 0 !important;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-brand{
    margin-top: 25px;
}

.navbar-default .navbar-nav>li>a {
    color: #2a2a2a !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.social-header {
    float: right;
    margin-top: 55px;
    text-align: right;
    font-size: 14px;
}

.social-header p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding-right: 20px;
}

.social-header a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 5px 0px 3px 0px;
    text-align: center;
    margin-left: 10px;
    color: #000;
}

.carousel-inner{
    min-height: 580px;
}

.carousel-inner>.active {
    left: 0;
    min-height: 580px;
}

.carousel-inner>.item {
    background-size: cover;
    min-height: 580px;
    width: 100%;
    background-position: center;
    margin: 0;
}

.item-container {
    min-height: 580px !important;
    padding: 0 !important;
    background: transparent;
}

.control-containers {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    width: 100%;
}

#carousel-news .carousel-control, #carousel-home .carousel-control, #carousel-videos .carousel-control {
    cursor: pointer;
    position: absolute;
    top: auto;
    bottom: -50px;
    left: 10px;
    width: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000;
    height: 40px;
    color:#fbd500; 
    opacity: 1;
    border: 7px solid;
    z-index: 1;
    border-top: 0;
    border-left: 0;
}

#carousel-news .carousel-control{
top: -210px;
}

#carousel-news .carousel-control.right, #carousel-home .carousel-control.right , #carousel-videos .carousel-control.right {
    right: 10px;
    left: auto;
    border: 7px solid;
    z-index: 1;
    border-top: 0;
    border-right: 0;
}

.tagline {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    text-align: center;
    padding: 30px 0 50px 0;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.tagline h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

section.news-section {
    background-color: #f9f8f8;
    padding: 30px 0;
    padding-bottom: 60px;
}

.new-item{
    cursor: pointer;
}

.new-item h2 {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: block;
    background-color: #fff;
    padding: 15px 10px;
    position: relative;
    line-height: 1.5;
}

.new-item h2:after{
        position: absolute;
    content: '';
    background-color: #fcd501;
    width: 0%;
    height: 5px;
    left: 0;
    bottom: -5px;
    transition: 0.25s all;
}

.new-item.active  h2:after {
    width: 100%;
}

p.new-date {
    padding-left: 15px;
    font-size: 11px;
    font-family: 'Tahoma', sans-serif;
    padding: 5px 15px;
    color: #000;
    margin: 0;
    margin-bottom: 20px;
}

.new-content .new-date{
    padding-left: 0;
    margin-bottom: 0px;
}

a.read-more {
    background: #fbd500;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 15px;
    color: #000;
    font-family: 'open sans', sans-serif;
    border:1px solid #fbd500;
    position: relative;
    z-index: 1;
    transition: 0.6s all ease-in-out;
   
}

a.read-more:before, a.read-more:after{
    position: absolute;
    content: '';
    width: 1px;
    top: 0;
    height: 100%;
    background-color: #fff;
    transition: 0.6s all ease-in-out;

    border:1px solid #fbd500;
    z-index: -1;
    
}

a.read-more:before{
    left: 0;
    border-right: 0;
}

a.read-more:after{
    right: 0;
    border-left: 0;
}

.active .read-more, a.read-more:hover{
    background: transparent;
    color: #000;
    text-decoration: none;
}

.active .read-more:before, .active .read-more:after, a.read-more:hover::before, a.read-more:hover::after {
    width: 50%;
}

.active a.read-more{
    color: #000;
    text-decoration: none;
}

.new-content {
    margin-top: 45px;
    position: relative;
    display: none;
}

.new-content:before {
    content: '';
    width: 80%;
    height: 1px;
    background-color: #cdcdcd;
    position: absolute;
    top: 25px;
    left: 15px;
}

.close-content {
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 35px;
    cursor: pointer;
    margin-right: 15px;
}

.close-content span{
    width: 100%;
    height: 2px;
    background: #000;
    display: block;
    top: 25px;
    position: absolute;
}

.close-content span:nth-child(1) {
    transform: rotate(45deg);
}

.close-content span:nth-child(2) {
    transform: rotate(-45deg);
}

.new-content h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}

hr.new-divider {
    border-top: 2px solid #aaa;
    margin-top: 10px;
}

.new-text {
    font-family: 'Open Sans' ,sans-serif;
    line-height: 1.5;
    color: #303030;
    font-size: 14px;
}

.new-text p {
    margin-bottom: 20px;
}

.img-description {
    background: #000;
    color: #fff;
    font-family: 'Open Sans';
    padding: 10px 40px;
    font-size: 13px;
    position: relative;
}

.img-description p {
    margin: 0;
}

.img-description:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 0 27px 27px;
    border-color: transparent transparent transparent #fbd500;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.share-new-home {
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
}

.yellow-font {
    color: #fbd500;
    font-size: 23px;
    vertical-align: middle;
    margin-left: 15px;
}

.share-icons{
    text-align: center;
    padding-top: 15px;
}

.share-icons a:first-child {
    margin-left: 0;
}

.share-icons a {
    color: #000;
    font-size: 20px;
    margin-left: 15px;
    border: 1px solid #000;
    padding-top: 3px;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    transition: 0.25s all;
}

.share-icons a:hover{
    color: #f9f8f8;
    background: #000;
}

section.video-bg {
    position: relative;
    height: 420px;
    overflow: hidden;
}

.video-bg h3 {
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    z-index: 6;
}

.video-bg h3 span{
    color: #fbd500; 
}
.home-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.video-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    z-index: 5;
}


#carousel-news .carousel-inner, #carousel-videos .carousel-inner{
    min-height: 1px;
}

#carousel-news .carousel-inner>.active, #carousel-videos .carousel-inner>.active {
    left: 0;
    min-height: 1px;
}

#carousel-news .carousel-inner>.item, #carousel-videos .carousel-inner>.item {
    background-size: cover;
    min-height: 1px;
    width: 100%;
    background-position: center;
    margin: 0;
}

#carousel-news .item-container, #carousel-videos .item-container {
    min-height: 1px !important;
    padding: 0 !important;
    background: transparent;
}


#carousel-videos .carousel-control.right {
    right: 30%;
}

#carousel-videos .carousel-control {
    left: 30%;
}

.videos{
    margin-bottom: 45px;
}

.video-thumb{
    position: relative;
}

.video-thumb .play-btn {
    font-size: 56px;
}

.video-thumb .video-overlay{
    top: -8px;
}

.video-thumb img {
    border-bottom: 10px solid #fbd500;
}

p.video-title {
    font-family: 'Open Sans';
    padding: 7px 0 10px 0;
    margin: 0;
    font-size: 13px;
}

p.main-video-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 20px 0;
}

section.parallax-1 {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    position: relative;
}

section.parallax-1 h3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    color: #fff;
    z-index: 6;
    text-align: center;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

section.parallax-1 h3 span {
    display: block;
    font-size: 36px;
}

section.parallax-1 h3 span b {
    color: #fbd500;
    font-style: italic;
}

section.gallery, section.videos {
    padding: 60px 0;
}

.gallery h3, .videos h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#carousel-gallery .carousel-inner>.item {
    background: #fff;
    padding-right: 15px;
}

#carousel-gallery .carousel-control {
    position: absolute;
    top: auto;
    bottom: -10px;
    left: 10%;
    width: 40px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000;
    height: 40px;
    color:#fbd500; 
    opacity: 1;
    border: 7px solid;
    z-index: 1;
    border-top: 0;
    border-left: 0;
}

#carousel-gallery .carousel-control.right {
    right: 10%;
    left: auto;
    border: 7px solid;
    z-index: 1;
    border-top: 0;
    border-right: 0;
}

.gallery-image {
    margin-bottom: 60px;
    z-index: 1;
    position: relative;
}

.image-wrapper{
    position: relative;
    margin-bottom: 35px;
}

.image-wrapper:after {
    content: '';
    background: #fbd500;
    width: 85%;
    height: 85%;
    position: absolute;
    z-index: 5;
    bottom: -14px;
    right: -13px;
}

.gallery-image img{
    position: relative;
    z-index: 6;
    width: 100%;
}

.img-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #303030;
    font-size: 14px;
}

.social-feed {
    padding: 60px 0 30px 0;
}

.social-feed h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

.social-feed h2 {
    color: #fbd500;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 30px;
}

.social-feed hr {
    border-top: 8px solid #eee;
    margin-bottom: 50px;
}

.masonry { /* Masonry container */
    column-count: 1;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: transparent;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    margin-bottom: 45px;
}

.profile-pic {
    padding-top: 45px;
}

.tweet-content i {
    color: #666;
    font-size: 28px;
}
.tweet-content p {
    margin: 0;
}

span.username {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    font-size: 18px;
}

.tw-account{
        font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #666;
    font-size: 18px;
}

p.tweet-text {
    color: #484848;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.tweet-text a{
    color: #0492b9;
}

.tweet-media {
    margin-top: 25px;
    position: relative;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 7;
    color: #fff;
    font-size: 90px;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}

.tweet-media video, .tweet-media video {
    width: 100%;
    height: auto;
}


.footer-gray {
    padding: 45px;
    background-color: #232323;
    color: #fff;
}

.footer-gray p {
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.footer-gray a {
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px 0px 3px 0px;
    text-align: center;
    margin-left: 10px;
}

.footer-black {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-black ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-black ul li {
    display: inline-block;
    margin: 15px 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 0;
}

.footer-black ul li a {
    color: #fff;
}

@media (min-width: 560px){

    .social-header {
        margin-top: 15px;
    }
    .tagline h3{
        font-size: 24px;
    }
}


@media (min-width: 768px){
    

    .navbar-nav {
        float: right !important;
    }
    .nav>li:last-child a {
        padding: 15px 0;
    }
    .navbar-nav>li {
        float: left;
        margin-left: 0px;
        margin-top: 15px;
    }
    .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    }
    
    .share-new-home{
        text-align: left;
    }
    .share-icons{
        text-align: right;
        padding-top: 0;
    }
        #carousel-news .carousel-control{
        display: none;
    }
}

@media (min-width: 992px){
    .new-item h2{
        font-size: 14px;
    }
    .masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1em;
}

}

@media (min-width: 1200px){
.navbar-nav>li {
    float: left;
    margin-left: 85px;
    margin-top: 15px;
}
    
    .navbar-default .navbar-nav>li>a{
        letter-spacing: 2px;
    }
}

    
    