.header-mipcom{
    background-image: url(../images/mipcom/mipcom-header.jpg);
    padding: 60px 0 120px 0;
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}


.header-mipcom h1 {
    font-weight: 800;
    color: #fff;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header-mipcom hr {
    border-top: 3px solid #fbd500;
    margin-top: 30px;
}

.header-mipcom p{
    margin-top: 20px;
}

.fichas-wrap {
    margin-top: -120px;
}

.ficha-header {
    background: #2e2e2e;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
}

.ficha-header p {
    margin: 0;
}

.titulo-ficha {
    background: #2e2e2e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding:10px 15px;
}

.titulo-ficha h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.titulo-ficha p {
    margin: 0;
}

.excerpt-ficha {
    background: #fbd500;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px 15px;
    line-height: 1.2;
}

.excerpt-ficha p{
    margin: 0;
}

.content-ficha {
    padding: 10px 15px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.content-ficha .read-more {
    margin-top: 25px;
    text-transform: lowercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.ficha-wrap{
    margin-bottom: 25px;
}

.ficha-header button {
    background-color: transparent;
    border: 0;
    text-transform: uppercase;
}

.input-wrapper {
    width: 80%;
    max-width: 400px;
    position: relative;
    margin-top: 20px;
}

.input-wrapper input {
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 6px 15px;
}

.input-wrapper:after {
    position: absolute;
    content: 'X';
    right: 15px;
    top: 50%;
    font-size: 20px;
    margin-top: -15px;
}

.ficha-icon{
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
}

.ficha-icon:after {
    position: absolute;
    width: 2px;
    height: 36px;
    background: #555;
    content: '';
    top: 0;
    left: -5px;
    margin-top: -18px;
    top: 50%;
}

.ficha-icon span {
    margin-left: 5px;
    vertical-align: bottom;
    font-weight: 600;
}


@media (min-width: 992px){
    .fichas-wrap .masonry {
        column-count: 3;
        column-gap: 3.3em;
    }
}