.inline {
    display: inline !important;
}



.black-video {
    background: #000;
    color: #fff;
    padding: 25px 0;
}

.black-video h2 {
    margin: 0 0 25px 0;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    position: relative;
    margin-left: 30px;
    line-height: 1;
    letter-spacing: -4px;
}
.black-video h2:before {
    position: absolute;
    content: '';
    background-color: #7224ac;
    width: 25px;
    height: 40px;
    bottom: 6px;
    left: -30px;
}

.black-video hr {
    margin-bottom: 0;
    margin-top: 40px;
    border-top: 1px solid #fcd530;
}

.video-wrap{

}

.video-info-box {
    background: #141414;
    padding: 15px 30px;
    border-bottom: 10px solid #fed700;
}

h3.video-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}

p.video-date {
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0;
}

.share-big {
    padding: 15px;
}

.share-big .small-share {
    margin-bottom: 20px;
}

.share-big a {
    color: #fff;
    font-size: 22px;
    margin: 0 5px;
}

.historic-vivos {
    padding: 25px 0;
}


.historic-vivos h2 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    position: relative;
    margin-left: 30px;
    letter-spacing: -4px;
    margin-bottom: 50px;
}

.historic-vivos h2:before {
    position: absolute;
    content: '';
    background-color: #7224ac;
    width: 25px;
    height: 40px;
    bottom: 6px;
    left: -30px;
}

.historic-vivos hr {
    margin-top: 50px;
    width: 100%;
    margin-left: 0;
    border-top: 1px solid #fed700;
}

.small-video-wrap {
    position: relative;
    width: 100%;
    min-height: 210px;
    border-bottom: 5px solid #fed700;
    overflow: hidden;
}

.thumb-video {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s all ease-in;
}

.overlay-small-vid {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: #fff;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.small-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.small-vid-info {
    position: absolute;
    width: 90%;
    bottom: 15px;
}

.small-share {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

img.share-icon {
    margin-right: 10px;
    vertical-align: middle;
}

.play-icon-holder {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fed700;
    text-align: center;
    padding-top: 12px;
    bottom: 0;
    right: 0;
    transition: 0.2s all;
}

.play-icon-holder i {
    font-size: 27px;
}


.small-video-wrap:hover .play-icon-holder{
        background: #fff;
}

.small-video-wrap:hover .thumb-video{
    transform: scale(1.1);
}

.small-video-date {
    color: #828282;
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif;
}

.videos-carousel {
    margin-top: 30px;
    margin-bottom: 30px;
}

.videos-carousel .carousel-control {
    height: 50px;
    background-image: none !important;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    color: #333;
    top: -60px;
    text-shadow: none;
    padding-top: 5px;
}

.videos-carousel .carousel-control:hover{
    color: #000;
}

.videos-carousel .left.carousel-control {
    left: auto;
    right: 85px;
}

.videos-carousel .right.carousel-control {
    left: auto;
    right: 15px;
}

.share-thumb {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 9;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

.sn-wrap {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    font-size: 24px;
}

.sn-wrap a {
    color: #000;
    margin: 0 10px;
    transform: scale(0);
    transition: 0.2s transform ease-in;
    transition-delay: 0.25s;
    transform-origin: center;
    display: inline-block;
}

.share-thumb {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 9;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    transform: translateY(-100%);
    transition: 0.25s all ease-out;
}

span.close-share {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
}

.share-thumb.visible{
    transform: translateY(0%);
}

.share-thumb.visible .sn-wrap a{
    transform: scale(1);
}


.icon-facebook:hover{
    color: #3b5999;
}

.icon-whatsapp:hover{
    color: #25d366;
}

.icon-twitter:hover{
    color: #55acee;
}

.icon-linkdin:hover{
    color: #0077b5;
}

.icon-mail:hover{
    color: #7e7e7e;
}

a{
    transition: 0.2s all;
}



@media (min-width:992px){
    .navbar-brand {
    width: 100%;
}
    
    .share-big {
    padding: 100px 0 0 0;
}
    
    .historic-vivos h2 {
  
    font-size: 40px;
    margin-left: 50px;
        margin-bottom: 0;
}

 .historic-vivos h2:before {

    bottom: 6px;
    left: -50px;
}
    
    .black-video h2 {
    font-size: 50px;
    margin-left: 50px;
}
.black-video h2:before {
    left: -50px;
}
    
    .videos-carousel .carousel-control {
    top: -90px;
    }

}