.inline {
    display: inline !important;
}



.black-video {
    background: #000;
    color: #fff;
    padding: 25px 0;
}

.black-video h2 {
    margin: 0 0 25px 0;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    position: relative;
    margin-left: 30px;
    line-height: 1;
    letter-spacing: -4px;
}
.black-video h2:before {
    position: absolute;
    content: '';
    background-color: #7224ac;
    width: 25px;
    height: 40px;
    bottom: 6px;
    left: -30px;
}

.black-video hr {
    margin-bottom: 0;
    margin-top: 40px;
    border-top: 1px solid #fcd530;
}

.video-wrap{

}

.single-info{
    margin-top: -55px;
    margin-bottom: 15px;
}

.single-info-box {
    background: #fff;
    padding: 15px 30px;
    border-bottom: 10px solid #7224ac;
}

h3.single-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #333;
}

p.video-date {
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0;
}

.share-big {
    padding: 15px;
}

.share-big .small-share {
    margin-bottom: 20px;
}

.share-big a {
    color: #000;
    font-size: 22px;
    margin: 0 5px;
}

.single-content {
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

.single-content p {
    margin: 15px 0;
    line-height: 1.5;
}

.quotation {
    position: relative;
    width: 70%;
    float: right;
    color: #7224ac;
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0;
}

.quotation:before {
    width: 190px;
    height: 130%;
    background-color: #7224ac;
    content: '';
    position: absolute;
    left: -219px;
    top: 50%;
    transform: translateY(-50%);
}

.quotation:after {
    position: absolute;
    content: url(../images/quotes.png);
    left: -90px;
    bottom: -15px;
}

ul.single-links {
    padding: 0;
    list-style: none;
    text-align: center;
    display: table;
    width: 100%;
}

.single-links-wrap {
    margin: 40px 0;
}

.single-links li {
    display: table-cell;
    list-style: none;
}

.single-links li>a {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.single-links li>a>img {
    margin-right: 10px;
    vertical-align: bottom;
}

.img-who img {
    border-radius: 50%;
    border: 35px solid #7224ac;
    display: block;
    margin: auto;
}

.img-who {
    position: relative;
}

.img-who:after {
    content: '';
    width: 100px;
    height: 100px;
    background: #25b9ab;
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 50%;
    z-index: -1;
}

h3.single-subtitle:before {
    content: '';
    width: 20px;
    height: 30px;
    background: #7224ac;
    position: absolute;
    left: -30px;
    top: -3px;
}
h3.single-subtitle {
    font-family: 'Open Sans' ,sans-serif;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    margin-left: 30px;
}

hr.single-underline {
    border-top: 1px solid #fbd500;
}

.img-who {
    position: relative;
    margin: 25px 0;
}



.wiw-single {
    color: #000;
    border-bottom: 1px solid #898989;
}
h3.wiw-name {
    font-size: 42px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -1px;
}

p.wiw-charge {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
p.wiw-company {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

a.wiw-btn {
    display: inline-block;
    border: 1px solid #302e34;
    padding: 5px 15px;
    font-family: 'Open Sans', sans-serif;
    color: #302e34;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 60px;
}

a.wiw-btn {
    display: inline-block;
    border: 1px solid #302e34;
    padding: 5px 15px;
    font-family: 'Open Sans', sans-serif;
    color: #302e34;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 60px;
    transition: 0.2s all;
}


a.wiw-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #302e34;
}

h3.related-news-title {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans';
}

.related-new.row {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.noticia-dia {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
}

.play-btn-white {
    position: absolute;
    bottom: 0;
    z-index: 9;
    background: #fff;
    padding: 2px 6px;
    font-size: 20px;
    right: 0;
    color: #7224ac;
}



.related-video-wrap h3 {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.related-video-wrap {
    margin-bottom: 20px;
}

.image-video-container {
    position: relative;
}


.sidebar-pub-wrap {
    text-align: center;
    padding: 15px;
    background: #e8e8e8;
    margin-bottom: 25px;
}

@media (min-width:992px){
    .navbar-brand {
    width: 100%;
}
    
    .share-big {
    padding:60px 0 0 0;
}
}