*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none
}

body{
    font-family: 'Open-Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3{
    font-family: 'Open-Sans', sans-serif;
}

.relative{
    position: relative !important;
}

.banner-wrapper {
    padding: 10px 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}

.half-container{
    max-width: 585px;
    
}

h3,h2,h1{
    font-weight: bold;
}

.big-new {
    position: relative;
    min-height: 475px;
}

.big-new .feat-image {
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: cover;
}

.small-new {
    position: relative;
    min-height: 230px !important;
    margin-bottom: 15px;
}

.small-new .feat-image {
    min-height: 225px;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.share-icon {
    vertical-align: sub;
    margin-right: 5px;
    height: 17px;
    display: inline !important;
    margin-left: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: #fff;
    width: 100%;
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+35,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */


}

.info-new {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.small-new .info-new {
    bottom: 15px;
}

.big-new .info-new h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

.small-new .info-new h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

.category-sticker{
    position: absolute;
    display: block;
    padding: 10px 16px;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.cat-television{
     background: rgba(107, 46, 133,0.8);
} 

.cat-publicidad{
     background: rgba(52, 73, 228,0.8);
} 

.cat-tecnologia{
     background: rgba(37, 185, 171,0.8);
} 

.television-wrap{
     border-bottom:5px solid rgb(107, 46, 133);
} 

.publicidad-wrap{
     border-bottom:5px solid rgb(52, 73, 228);
} 

.tecnologia-wrap{
     border-bottom:5px solid rgb(37, 185, 171);
} 

.big-new-date, .share-new {
    font-weight: lighter;
    font-size: 12px;
}

.section-calendar, .section-wiw, .section-revistas, .especiales-eventos, .estrenos-finales, .section-noticias, .section-primera-plana, .personajes-section{
    padding: 35px 0;
}

.section-calendar h2, .section-wiw h2, .section-revistas h2, .especiales-eventos h2, .estrenos-finales h2, .personajes-section h2, .section-noticias h2, .section-primera-plana h2 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -3px;
    margin-left: 30px;
    color: #000;
    line-height: 1;
    margin-top: 0;
}

.section-calendar h2:before, .section-wiw h2:before, .section-revistas h2:before, .especiales-eventos h2:before, .estrenos-finales h2:before, .personajes-section h2:before, .section-noticias h2:before, .section-primera-plana h2:before {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: #7224ac;
    content: '';
    left: -30px;
    top: 15px;
}

.especiales-eventos h2:before{
  background-color: #3449e4;  
}

.section-wiw h2{
    font-size: 46px;
}

hr.yellow-line {
    border-top: 1px solid #fed700;
    margin-top: 40px;
}

hr.yellow-line-filter {
    border-top: 1px solid #fed700;
    margin-top: 5px;
}

.primera-info {
    position: absolute;
    bottom: 44px;
    background: #fff;
    width: 40%;
    right: 15px;
    border: 1px solid #cfcfcf;
    padding: 8px 25px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 3px solid #7224ac;
    color: #000;
}

.primera-info h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 5px;
}

.pp-company {
    font-weight: bold;
    font-size: 19px;
    color: #000;
    font-family: 'Open sans', sans-serif;
    letter-spacing: -2px;
    margin: 0;
}

.pp-date {
    color: #828282;
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.pp-small-hl {
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
     border-bottom: 2px solid blue;
}

.img-pp-small {
    float: left;
    width: 45%;
}

.pp-small-info {
    float: left;
    width: 55%;
    padding-left: 15px;
}

.pp-small-info h3 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -2px;
    color: #000;
    font-size: 27px;
}


.pp-small-info .pp-date{
    margin-top: 5px;
    margin-bottom: 10px;
}

.noticia-wrap {
    position: relative;
    min-height: 210px;
    margin: 30px 0;
}

.noticia-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.noticia-info {
    width: 90%;
    margin: auto;
    background: #fff;
    margin-top: -40px;
    z-index: 99;
    position: relative;
    padding:20px 15px;
    border: 1px solid #cfcfcf;
    border-bottom: 5px solid purple;
    height: 160px;
}

h3.noticia-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.galeria-eventos, .video-full-section {
    background-color: #2d2d2d;
    padding: 30px 0;
    color: #fff;
}

.galeria-eventos h2, .video-full-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -2px;
    position: relative;
    margin-left: 35px;
    margin-top: 0;
}

.galeria-eventos h2:before, .video-full-section h2:before {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: rgb(37, 185, 171);
    content: '';
    left: -30px;
    top: 15px;
}

.video-container{
    position: relative;
    margin-top: 45px;
}

.big-video-info {
    background-color: #101010;
    padding: 15px 50px 15px 30px;
    width: 65%;
    float: right;
    margin-top: -100px;
    position: relative;
    border-bottom: 5px solid #25b9ab;
}

.big-video-info h3 {
    font-size: 29px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 10px;
}

.big-video-info .pp-date {
    color: #fff;
}

.more-videos-item {
    margin-top: 50px;
}

.videos-item-wrap {
    position: relative;
    background-size: cover;
    min-height: 220px;
    border-bottom: 5px solid #25b9ab;
}

.abs-share {
    position: absolute;
    right: 10px;
    top: -25px;
    font-family: 'Open Sans', sans-serif;
}

.video-title-wrap {
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,0.65+67 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 67%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 67%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 67%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.video-title-wrap h3 {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 80%;
    position: absolute;
    bottom: 25px;
}

.play-btn {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #2d2d2d;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-top: 3px;
    color: #25b9ab;
    bottom: 0;
    right: 0;
}

.sticker-more-videos {
    background: #25b9ab;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 15px;
    max-width: 130px;
    text-align: center;
    top: -31px;
    position: absolute;
}

.personajes-section {
    padding: 35px 0;
}

.personaje-info {
    width: 80%;
    margin: auto;
    margin-top: -40px;
    position: relative;
    border: 1px solid #cfcfcf;
    z-index: 99;
    background: #fff;
    padding: 25px;
    border-bottom: 5px solid #7224ac;
}

.personaje-info.tecnologia{
    border-bottom: 5px solid #25B9AB;
}

.personaje-info.publicidad{
    border-bottom: 5px solid #3449E4;
}


.personaje-info h3 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -2px;
}

.personaje-info h5 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.personaje-small .personaje-info {
    width: 85%;
    padding: 10px;
}

.personaje-small .personaje-info h3 {
    font-size: 23px;
    letter-spacing: -2px;
}

.personaje-small .personaje-info h5 {
    font-size: 15px;
}

.footer-gray {
    padding: 45px 0;
    background-color: #232323;
    color: #fff;
}

.footer-gray p {
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.footer-gray a {
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px 0px 3px 0px;
    text-align: center;
    margin-left: 10px;
}

.footer-black {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-black ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-black ul li {
    display: inline-block;
    margin: 15px 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 0;
}

.footer-black ul li a {
    color: #fff;
    font-size: 14px;
}

@media (min-width: 560px){

    .tagline h3{
        font-size: 24px;
    }
    
    .gallery-image {
        padding-left: 15px !important;
    }
}

@media (min-width: 737px){

}

@media (min-width: 768px){
    
    a.read-more{
        margin-left: 0;
    }
    
    p.new-date{
        text-align: left;
    }
    
    .close-content{
        margin-top: 0;
    }
    
    .navbar-brand>img{
        width: 100%
    }

    
    .social-feed h2 {
        font-size: 35px;
    }
    
    .parallax-1 h3 span {
        font-size: 30px;
    }

    .image-wrapper:after {
        bottom: -5px;
        right: -5px;
    }
    
    #carousel-gallery .carousel-inner>.item {
    background: #f5f5f5;
    padding-right: 15px;
}


    .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    }
    
    .share-new-home{
        text-align: left;
    }
    .share-icons{
        text-align: right;
        padding-top: 0;
    }
        #carousel-news .carousel-control{
        display: none;
    }
}



@media (min-width: 992px){
    
    .videos h3:after {
        display: block;
    }
    .more-videos h3{
        background: #fff;
    }
    
    .videos {
    padding: 60px 0 50px 0;
    background: #f5f5f5;
}
    
    .parallax-1{
        background-attachment: fixed;
    }
    
    .new-item h2{
        font-size: 16px;
    }
    .masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1em;
}
    
    #carousel-home .carousel-inner{
    min-height: 580px;
}

#carousel-home .carousel-inner>.active {
    left: 0;
    min-height: 580px;
}

#carousel-home .carousel-inner>.item {
    background-size: cover;
    min-height: 580px;
    width: 100%;
    background-position: top center;
    margin: 0;
}

#carousel-home .item-container {
    min-height: 580px;
    padding: 0 !important;
    background: transparent;
}
    
.tagline h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.control-containers {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    width: 100%;
}
    .tagline{
        padding: 30px 0 50px 0;
    }


}


.slick-list{
    overflow-x: hidden;
}

.carousel-item{
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c1b82+0,170519+100&0+0,1+100 */
    transform: scale(0.99);
   
    
}

.carousel-item-gradient{
    background: linear-gradient(to bottom,  rgba(76,27,130,0) 0%,rgba(23,5,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.carousel-item:before{
    content: '';
    width: 15px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #7224ac;
    position: absolute;
    transition: 0.2s all;
}

.carousel-item:hover::before{
    display: none;
}

.imagen-estreno{
    width: 100%;
}

.estrenos-overlay {
    background-color: #853c8a;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s;
    opacity: 0;
}

.carousel-item:hover .estrenos-overlay {
    opacity: 0.6;
}

.estreno-main-info {
    z-index: 3;
    position: absolute;
    top: 70%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 15px 25px;
    transition: 0.2s all;
}

.carousel-item:hover .estreno-main-info {
    bottom: auto;
    top: 80px;
}

.estreno-info {
    position: absolute;
    bottom: -300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 3;
    transition: 0.2s all;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.carousel-item:hover .estreno-info {
    position: absolute;
    bottom: 20px;
    height: auto;
    opacity: 1;
    padding: 15px 25px;
}



.estreno-info h3 {
    color: #fed200;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -1px;
}

.estreno-info p {
    margin-bottom: 8px;
    line-height: 1;
}

p.fecha-estreno {
    font-weight: 100;
    font-size: 13px;
}



.especial-big {
    height: 445px;
    position: relative;
    border-left: 10px solid #fed700;
}

.especial-overlay {
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background: #3347e0;
}

.img-especial {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.small-especial {
    padding: 15px;
    border: 1px solid #eee;
    border-left: 5px solid #3449e4;
    max-height: 210px;
    min-height: 210px;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
}

.content-small-especial{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    padding: 0 15px;
}

.content-small-especial h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 0;
}

p.small-especial-desc {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

p.small-especial-fecha {
    font-size: 12px;
    font-weight: 100;
}

.especial-big-content {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: #fff;
    padding: 15px 25px;
}

.especial-big-content h1 {
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 44px;
    line-height: 0.9;
    width: 70%;
}

p.especial-desc {
    font-weight: bold;
    font-size: 13px;
}

p.especial-fecha {
    font-size: 12px;
    font-weight: 100;
}

.galeria-eventos {
    background-color: #2d2d2d;
    padding: 50px;
}

.galeria-wrap {
    position: relative;
}

.big-galeria-img{

}

.slider-for .slick-track{
    padding-bottom: 70px;
}

.description-box {
    position: absolute;
    bottom: -70px;
    right: 0;
    width: 70%;
    color: #fff;
    background-color: #000;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 8px solid #25b9ab;
}


.description-box h3 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
}

p.descipcion-item-galeria {
    font-size: 12px;
}

p.fecha-galeria {
    font-weight: 100;
    font-size: 12px;
}

.thumb-evento{
    opacity: 0.4;
}

.slick-current .thumb-evento{
    opacity: 1;
}


.revista-item {
    position: relative;
    overflow: hidden;
}

.carousel-item-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 25px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 52%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    transition: 0.25s all ease-in;
}

.carousel-item-text h4 {
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    margin: 5px 0;
}

.carousel-item-text h3 {
    margin: 0;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 36px;
}

.revista-item:hover img {
    transform: scale(1.05);
}

.revista-item img {
    width: 100%;
    transition: 0.2s all ease-out;
}

.revista-item:hover .carousel-item-text {
    padding-bottom: 45px;
}

a.slick-btn {
    background-image: none !important;
    bottom: 0;
    height: 45px;
    width: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 1;
    z-index: 999;
    display: inline-block !important;
    text-align: center;
    padding-top: 8px;
    margin: 0 10px;
    cursor: pointer;
}

.slick-btn img {
    max-width: 12px;
}

.wiw-bg{
    background-image: url(../images/big-circles.jpg);
    background-size: 100%;
    background-position: bottom left;
    background-repeat: no-repeat;
    color: #fff;
}

.wiw-bg h3 {
    margin-top: 300px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 40px;
    line-height: 0.9;
}

.wiw-bg h4 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -1px;
}


p.intro-wiw {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    margin-top: 100px;
}

.wiw-search h4 {
    font-weight: 700;
    font-size: 40px;
    color: #2d2d2d;
    letter-spacing: -3px;
}

.wiw-search-wrap {
    padding: 20px 40px;
    text-align: center;
}

.wiw-search-wrap input[type="text"]:focus {
    font-weight: bold;
    border-bottom: 2px solid #7224ac;
    outline: 0;
}

.wiw-search-wrap input[type="text"] {
    width: 80%;
    max-width: 350px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.wiw-search-wrap button {
    background: #7224ac;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    font-size: 18px;
    padding: 5px 15px;
    font-weight: 700;
}

.lista-lugares {
    box-shadow: none !important;
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}

.nav-tabs.lista-lugares.nav-justified>li>a {
    border: 0;
    border-bottom: 5px solid #ededed;
    color: #aaa;
    font-size: 18px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 1px;
    text-align: left;
    transition: 0.2s all;
}

.nav-tabs.lista-lugares.nav-justified>li>a:hover, .nav-tabs.lista-lugares.nav-justified>li>a:focus{
    background-color: transparent !important;
    color: #000;
    border:0 !important;
    border-bottom: 5px solid #7224ac !important;
}

.nav-tabs.lista-lugares.nav-justified>li.active>a {
    border-bottom: 5px solid #7224ac;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-tabs.lista-lugares.nav-justified>li.active>a:hover{
    border: 0 !important;
    border-bottom: 5px solid #7224ac !important;
}

.date-info-wrap {
    height: 350px;
    border: 1px solid #ededed;
    border-bottom: 5px solid #7224ac;
    position: relative;
    overflow: hidden;
}

.date-info-text {
    position: absolute;
    width: 100%;
    padding: 15px;
    top: 40%;
    transition: 0.25s all ease-in-out;
    background-color: #fff;
    height: 175px;
}

.date-info-wrap:hover .date-info-text{
    top: 0;
    background-color: #25b9ab;
}

.date-info-wrap:hover h3.event-day{
    font-size: 42px;
    color: #fff;
}

.date-info-wrap:hover p.event-month{
    font-size: 25px;
    color: #fff;
}

.date-info-wrap:hover p.event-description {
    color: #fff;
}

.date-info-wrap:hover .imagen-evento {
    opacity: 1;
    bottom: 0;
}

h3.event-day {
    font-size: 75px;
    font-weight: bold;
    color: #7224ac;
    letter-spacing: -3px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    transform: 0.25s all;
}

p.event-month {
    font-size: 35px;
    color: #7224ac;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 15px;
    transform: 0.25s all;
}

p.event-description {
    font-size: 14px;
    font-weight: 100;
    color: #000;
}

.imagen-evento {
    opacity: 0;
    position: absolute;
    bottom: -100%;
    transition: 0.2s all;
    transition-delay: 0.1s;
    height: 175px;
    overflow: hidden;
}

.ticker-wrap {
    background-color: #fed700;
    padding: 10px 0;
    margin-bottom: 20px;
}

.ticker-wrap h4 {
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.ticker-wrap p{
    margin: 0;
}

a.ticker-slick-btn {
    position: absolute;
    right: 0;
    z-index: 99;
    top:12px;
    right: 25px;
}

a.ticker-slick-btn.left {
    right: 0px;
}

.white-arrow {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
}

h3.small-title:before {
    position: absolute;
    content: '';
    background: #7224ac;
    width: 15px;
    left: -35px;
    height: 25px;
    top: 5px;
}

h3.small-title.publicidad:before{
    background: #3449E4;
}

h3.small-title.tecnologia:before{
   background: #25B9AB; 
}

h3.small-title {
    position: relative;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 160px;
    margin-top: 0;
    font-size: 28px;
    margin-left: 35px;
}

.background-tecnologia{
    background-color: #25B9AB;
}

.background-publicidad{
    background-color: #3449E4;
}

.background-television{
    background-color: #7224AC;
}

.especiales-carousel{
    margin: 25px 0 60px 0;
}

.especiales-carousel .slick-btn, .primera-carousel .slick-btn {
    position: absolute;
    bottom: -60px;
    border-color: #565656;
    right: 0;
}

.especiales-carousel:after, .primera-carousel:after {
    content: '';
    background: #ddd;
    width: 85%;
    height: 1px;
    bottom: -45px;
    position: absolute;
    left: 15px;
}

.especiales-carousel .slick-btn.left, .primera-carousel .slick-btn.left {
    right: 80px;
}

.especiales-carousel .slick-btn i, .primera-carousel .slick-btn i {
    font-size: 23px;
    color: #565656;
}

.video-carousel a.slick-btn {
    position: absolute;
    right: -50px;
    bottom: 0;
}

.slider-for a.slick-btn.left,  .video-carousel a.slick-btn.left {
    bottom: 60px;
}

.slider-for a.slick-btn, .video-carousel a.slick-btn {
    position: absolute;
    right: -50px;
    bottom: 0;
}

.slider-for a.slick-btn {
    position: absolute;
    right: -65px;
    bottom: 0;
}

.slider-for a.slick-btn i, .video-carousel a.slick-btn i{
    font-size: 25px;
    color: #fff;
}
    


.slider-nav a.slick-btn.left, .more-videos-slider a.slick-btn.left {
    bottom: -90px;
    left: 50%;
    margin-left: -180px;
}

.slider-nav a.slick-btn, .more-videos-slider a.slick-btn {
    position: absolute;
    right: 50%;
    bottom: -90px;
    margin-right: -180px;
}

.slider-nav a.slick-btn i, .more-videos-slider a.slick-btn i{
    font-size: 25px;
    color: #fff;
}

.slider-nav, .view-more-videos {
    padding: 55px 0 10px 0;
}

.view-more-videos a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform:;
    font-size: 20px;
}

.view-more-videos a:hover {
    text-decoration: none;
    color: #fff;
}

.gray-line {
    width: 95%;
    margin: 25px auto 0 auto;
}

.personajes-carousel {
    margin-top: 25px;
}

.personajes-carousel .slick-btn {
    position: absolute;
    top: -85px;
    border-color: #565656;
    right: 0;
}

.personajes-carousel .slick-btn.left {
    right: 80px;
}

.personajes-carousel .slick-btn i {
    font-size: 23px;
    color: #565656;
}

.revista-items, .estrenos-carousel{
    margin-top: 30px;
}

.revista-items a.slick-btn, .estrenos-carousel a.slick-btn {
    position: absolute;
    border: 1px solid #565656;
    top: -90px;
    right: 15%;
}

.revista-items .slick-btn.left, .estrenos-carousel .slick-btn.left {
    right: 20%;
}

.revista-items .slick-btn i, .estrenos-carousel .slick-btn i {
    font-size: 23px;
    color: #565656;
}


.slider-wiw a.slick-btn {
    position: absolute;
    bottom: 50px;
    right: 75px;
}

.slider-wiw a.slick-btn.left {
    right: 150px;
}
.slider-wiw a.slick-btn i{
    font-size: 25px;
    color: #fff;
}


.wiw-image-wrap {
    position: relative;
    min-height: 700px;
}

.wiw-image-wrap img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.filtro-negro {
    padding: 25px 0px 0 0;
    text-align: right;
    color: #000;
}

.filtro-negro.light{
    color: #fff;
}

.filtro-negro a {
    margin: 0 10px;
    text-transform: uppercase;
}
.filtro-negro.light a{
color: #fff;
    text-transform: uppercase;
}

.filtro-negro a:last-child {
    margin: 0 10px;
    margin-right: 0;
}

.filtro-negro i {
    color: #fed700;
}

input.search-more-videos {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fed700;
    margin-top: 20px;
    width: 50%;
    max-width: 300px;
    padding: 5px;
}

.top-margin{
    margin-top: 50px;
}

.search-videos-wrap:after {
    position: absolute;
    content: url(../images/search.png);
    right: 22px;
    bottom: 4px;
}