*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none
}

body{
    font-family: 'Open-Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3{
    font-family: 'Open-Sans', sans-serif;
}

.banner-wrapper {
    padding: 10px 0;
}


body{
    font-family: 'Open Sans', sans-serif;
}

h3,h2,h1{
    font-weight: bold;
}

.big-new {
    position: relative;
    min-height: 475px;
}

.big-new .feat-image {
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: cover;
}

.small-new {
    position: relative;
    min-height: 230px !important;
    margin-bottom: 15px;
}

.small-new .feat-image {
    min-height: 225px;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.share-icon {
    vertical-align: sub;
    margin-right: 10px;
    height: 17px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: #fff;
    width: 100%;
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+35,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */


}

.info-new {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.small-new .info-new {
    bottom: 15px;
}

.big-new .info-new h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

.small-new .info-new h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

.category-sticker{
    position: absolute;
    display: block;
    padding: 10px 16px;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.cat-television{
     background: rgba(107, 46, 133,0.8);
} 

.cat-publicidad{
     background: rgba(52, 73, 228,0.8);
} 

.cat-tecnologia{
     background: rgba(37, 185, 171,0.8);
} 

.television-wrap{
     border-bottom:5px solid rgb(107, 46, 133);
} 

.publicidad-wrap{
     border-bottom:5px solid rgb(52, 73, 228);
} 

.tecnologia-wrap{
     border-bottom:5px solid rgb(37, 185, 171);
} 

.big-new-date, .share-new {
    font-weight: lighter;
    font-size: 12px;
}

.section-noticias, .section-primera-plana{
    padding: 40px 0;
}

.section-noticias h2, .section-primera-plana h2 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -3px;
    margin-left: 30px;
    color: #000;
    line-height: 1;
    margin-top: 0;
}

.section-noticias h2:before, .section-primera-plana h2:before {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: #7224ac;
    content: '';
    left: -30px;
    top: 15px;
}

hr.yellow-line {
    border-top: 1px solid #fed700;
    margin-top: 40px;
}

.primera-info {
    position: absolute;
    bottom: 44px;
    background: #fff;
    width: 40%;
    right: 15px;
    border: 1px solid #cfcfcf;
    padding: 8px 25px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 3px solid #7224ac;
    color: #000;
}

.primera-info h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 5px;
}

.pp-company {
    font-weight: bold;
    font-size: 19px;
    color: #000;
    font-family: 'Open sans', sans-serif;
    letter-spacing: -2px;
    margin: 0;
}

.pp-date {
    color: #828282;
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.pp-small-hl {
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
     border-bottom: 2px solid blue;
}

.img-pp-small {
    float: left;
    width: 45%;
}

.pp-small-info {
    float: left;
    width: 55%;
    padding-left: 15px;
}

.pp-small-info h3 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -2px;
    color: #000;
    font-size: 27px;
}


.pp-small-info .pp-date{
    margin-top: 5px;
    margin-bottom: 10px;
}

.noticia-wrap {
    position: relative;
    min-height: 210px;
    margin: 30px 0;
}

.noticia-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.noticia-info {
    width: 90%;
    margin: auto;
    background: #fff;
    margin-top: -40px;
    z-index: 99;
    position: relative;
    padding:20px 15px;
    border: 1px solid #cfcfcf;
    border-bottom: 3px solid purple;
}

h2.noticia-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

.video-full-section {
    background-color: #2d2d2d;
    padding: 30px 0;
    color: #fff;
}

.video-full-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -2px;
    position: relative;
    margin-left: 35px;
    margin-top: 0;
}

.video-full-section h2:before {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: rgb(37, 185, 171);
    content: '';
    left: -30px;
    top: 15px;
}

.video-container{
    position: relative;
    margin-top: 45px;
}

.big-video-info {
    background-color: #101010;
    padding: 15px 50px 15px 30px;
    width: 65%;
    float: right;
    margin-top: -100px;
    position: relative;
    border-bottom: 5px solid #25b9ab;
}

.big-video-info h2 {
    font-size: 29px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
    margin-bottom: 10px;
}

.big-video-info .pp-date {
    color: #fff;
}

.more-videos-item {
    margin-top: 50px;
}

.videos-item-wrap {
    position: relative;
    background-size: cover;
    min-height: 220px;
    border-bottom: 5px solid #25b9ab;
}

.video-title-wrap {
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,0.65+67 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 67%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 67%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 67%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.video-title-wrap h2 {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    width: 80%;
    position: absolute;
    bottom: 25px;
}

.play-btn {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #2d2d2d;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    padding-top: 3px;
    color: #25b9ab;
    bottom: 0;
    right: 0;
}

.sticker-more-videos {
    background: #25b9ab;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 15px;
    max-width: 130px;
    text-align: center;
    top: -31px;
    position: absolute;
}

.personajes-section {
    padding: 35px 0;
}

.personaje-info {
    width: 80%;
    margin: auto;
    margin-top: -40px;
    position: relative;
    border: 1px solid #cfcfcf;
    z-index: 99;
    background: #fff;
    padding: 25px;
    border-bottom: 5px solid #800080;
}

.personaje-info h3 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -2px;
}

.personaje-info h5 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.personaje-small .personaje-info {
    width: 85%;
    padding: 10px;
}

.personaje-small .personaje-info h3 {
    font-size: 23px;
    letter-spacing: -2px;
}

.personaje-small .personaje-info h5 {
    font-size: 15px;
}

.footer-gray {
    padding: 45px 0;
    background-color: #232323;
    color: #fff;
}

.footer-gray p {
    margin: 20px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.footer-gray a {
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 21px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px 0px 3px 0px;
    text-align: center;
    margin-left: 10px;
}

.footer-black {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-black ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-black ul li {
    display: inline-block;
    margin: 15px 35px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 0;
}

.footer-black ul li a {
    color: #fff;
    font-size: 14px;
}

@media (min-width: 560px){

    .tagline h3{
        font-size: 24px;
    }
    
    .gallery-image {
        padding-left: 15px !important;
    }
}

@media (min-width: 737px){

}

@media (min-width: 768px){
    
    a.read-more{
        margin-left: 0;
    }
    
    p.new-date{
        text-align: left;
    }
    
    .close-content{
        margin-top: 0;
    }
    
    .navbar-brand>img{
        width: 100%
    }

    
    .social-feed h2 {
        font-size: 35px;
    }
    
    .parallax-1 h3 span {
        font-size: 30px;
    }

    .image-wrapper:after {
        bottom: -5px;
        right: -5px;
    }
    
    #carousel-gallery .carousel-inner>.item {
    background: #f5f5f5;
    padding-right: 15px;
}


    .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    }
    
    .share-new-home{
        text-align: left;
    }
    .share-icons{
        text-align: right;
        padding-top: 0;
    }
        #carousel-news .carousel-control{
        display: none;
    }
}



@media (min-width: 992px){
    
    .videos h3:after {
        display: block;
    }
    .more-videos h3{
        background: #fff;
    }
    
    .videos {
    padding: 60px 0 50px 0;
    background: #f5f5f5;
}
    
    .parallax-1{
        background-attachment: fixed;
    }
    
    .new-item h2{
        font-size: 16px;
    }
    .masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1em;
}
    
    #carousel-home .carousel-inner{
    min-height: 580px;
}

#carousel-home .carousel-inner>.active {
    left: 0;
    min-height: 580px;
}

#carousel-home .carousel-inner>.item {
    background-size: cover;
    min-height: 580px;
    width: 100%;
    background-position: top center;
    margin: 0;
}

#carousel-home .item-container {
    min-height: 580px;
    padding: 0 !important;
    background: transparent;
}
    
.tagline h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.control-containers {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    width: 100%;
}
    .tagline{
        padding: 30px 0 50px 0;
    }


}


.slick-list{
    overflow-x: hidden;
}

.carousel-item{
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c1b82+0,170519+100&0+0,1+100 */
    transform: scale(0.99);
   
    
}

.carousel-item-gradient{
    background: linear-gradient(to bottom,  rgba(76,27,130,0) 0%,rgba(23,5,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.carousel-item:before{
    content: '';
    width: 15px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #7224ac;
    position: absolute;
    transition: 0.2s all;
}

.carousel-item:hover::before{
    display: none;
}

.imagen-estreno{
    width: 100%;
}

.estrenos-overlay {
    background-color: #853c8a;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s;
    opacity: 0;
}

.carousel-item:hover .estrenos-overlay {
    opacity: 0.6;
}

.estreno-main-info {
    z-index: 3;
    position: absolute;
    top: 70%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 15px 25px;
    transition: 0.2s all;
}

.carousel-item:hover .estreno-main-info {
    bottom: auto;
    top: 80px;
}

.estreno-info {
    position: absolute;
    bottom: -300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 3;
    transition: 0.2s all;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.carousel-item:hover .estreno-info {
    position: absolute;
    bottom: 20px;
    height: auto;
    opacity: 1;
    padding: 15px 25px;
}



.estreno-info h2 {
    color: #fed200;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -1px;
}

.estreno-info p {
    margin-bottom: 8px;
    line-height: 1;
}

p.fecha-estreno {
    font-weight: 100;
    font-size: 13px;
}



.especial-big {
    height: 445px;
    position: relative;
    border-left: 10px solid #fed700;
}

.especial-overlay {
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background: #3347e0;
}

.img-especial {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

.small-especial {
    padding: 15px;
    border: 1px solid #eee;
    border-left: 5px solid #3449e4;
    max-height: 210px;
    min-height: 210px;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
}

.content-small-especial{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    padding: 0 15px;
}

.content-small-especial h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 0;
}

p.small-especial-desc {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

p.small-especial-fecha {
    font-size: 12px;
    font-weight: 100;
}

.especial-big-content {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: #fff;
    padding: 15px 25px;
}

.especial-big-content h1 {
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 44px;
    line-height: 0.9;
    width: 70%;
}

p.especial-desc {
    font-weight: bold;
    font-size: 13px;
}

p.especial-fecha {
    font-size: 12px;
    font-weight: 100;
}

.galeria-eventos {
    background-color: #2d2d2d;
    padding: 50px;
}

.galeria-wrap {
    position: relative;
}

.big-galeria-img{

}

.slider-for .slick-track{
    padding-bottom: 70px;
}

.description-box {
    position: absolute;
    bottom: -70px;
    right: 0;
    width: 70%;
    color: #fff;
    background-color: #000;
    padding: 25px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 8px solid #25b9ab;
}


.description-box h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
}

p.descipcion-item-galeria {
    font-size: 12px;
}

p.fecha-galeria {
    font-weight: 100;
    font-size: 12px;
}

.thumb-evento{
    opacity: 0.4;
}

.slick-current .thumb-evento{
    opacity: 1;
}


.revista-item {
    position: relative;
    overflow: hidden;
}

.carousel-item-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 25px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 52%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    transition: 0.25s all ease-in;
}

.carousel-item-text h4 {
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    margin: 5px 0;
}

.carousel-item-text h3 {
    margin: 0;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 36px;
}

.revista-item:hover img {
    transform: scale(1.05);
}

.revista-item img {
    width: 100%;
    transition: 0.2s all ease-out;
}

.revista-item:hover .carousel-item-text {
    padding-bottom: 45px;
}